
<h1><center>
<% if @name %>
  My name is <%= @name %>
<% else %>
  I have no name
<% end %>
</center></h1>


 <div style='border: 3px dashed purple'>
  <center><img src='http://bit.ly/1eze8aE'></center>
 </div>
